@model IEnumerable<PosterForm.Models.Order>

@{
    ViewBag.Title = "MyOrders";
}

<h2>My Previous Orders</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("NetID")
        </th>
        <th>
            @Html.Label("Order #")
        </th>
        <th>
            @Html.Label("Date Received")
        </th>
        <th>
            @Html.Label("Total Cost")
        </th>
        <th id="Paid-label">
            @Html.DisplayNameFor(model => model.Paid)
        </th>
        <th id="Printed-label">
            @Html.DisplayNameFor(model => model.Printed)
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.UserName == this.User.Identity.Name)
        {


<tr>
    <td>
        @Html.DisplayFor(modelItem => item.UserName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateIN)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TotalCost)
    </td>
    <td>
        @if (item.Paid == true)
        {
            <b>YES</b>
        }
        else
        {
            <span class="checkmark">
                <p>NO</p>
            </span>
        }
    </td>
    <td>
        @if (item.Printed == true)
        {
            <span class="checkmark">
                <div class="checkmark_stem"></div>
                <div class="checkmark_kick"></div>
            </span>
        }
        else
        {
            <span class="checkmark">
                <p>NO</p>
            </span>
        }
    </td>
    <td style="">
        @Html.ActionLink("Receipt", "Receipt", new { id = item.Id })
    </td>
</tr>
        }
    }

</table>