@model IEnumerable<PosterForm.Models.UserInRole>

@{
    ViewBag.Title = "Index";
}

<h2>Manage Admin Users</h2>

<p>
    @Html.ActionLink("Add New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.Display("Edit") Edit
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.UserName)
    </td>
    <td>
        <!--@Html.ActionLink("Edit", "Edit", new { id = item.UserName }) |
    @Html.ActionLink("Details", "Details", new { id = item.UserName }) |-->
        @Html.ActionLink("Delete", "Delete", new { id = item.UserName })
    </td>
</tr>
}

</table>
